@font-face {
    font-family: "MATURASC";
    src: url("media/Fonts/maturasc.woff");
}

* {
    font-family: "Arial", Helvetica, sans-serif!important;
}
html {
    background-color: #2F2525
}
img {
    width: 100%;
}

#enemy-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

#enemy-wrapper, #weapon-wrapper {
    position: absolute;
}

#enemy-wrapper {
    width: 512px;
    margin:1rem;
}

#enemy-name {
    color: #FFFFFF;
    font-size: 50px;
}

.damage-button {
    background-color: transparent;
    outline: none;
    border: none;
}

#weapon-wrapper {
    top:10px;
}

#combat-container {
    text-align: center;
    justify-content: center;
}

#enemy-health {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
}