 @font-face {
    font-family: "MATURASC";
    src: url("media/Fonts/maturasc.woff");
}

* {
    font-family: "MATURASC",;
}
html {
    background-color: #2F2525
}
img {
    width: 512px;
}
<<<<<<< Updated upstream
#enemy-wrapper {
=======

#enemy-name {
    color: #FFFFFF;
    font-size: 50px;
}

.damage-button {
    background-color: transparent;
    outline: none;
    border: none;
}

#weapon-wrapper {
    top:10px;
}

#combat-container {
>>>>>>> Stashed changes
    text-align: center;
  }